* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}

/* utilities */
.gap{
  gap: 20px;
}
.colum {
  flex-direction: column;
}

.alingcenter {
  align-items: center;
}

.flex {
  display: flex;
}

.center-space {
  justify-content: space-between;
}

.main-container {
  min-height: 200px;
  margin: 0 auto;
  width: 90%;

}

.titlecenter {
  text-align: center;
}

/* fine utilities */

/* navbar */

.navbar {
  background-color:rgb(28, 124, 243);
  width: 100%;
  height: 70px;
  padding: 10px;
}

#iconlist{
  font-size: 20px;
  color: white;
  margin: 5px;
}

.list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .list {
    display: flex;
    gap: 10px;
    list-style-type: none;
  }
  #iconlist{
    display: none;
  }
}

/* fine navbar */

/* inizio itemcard */

.itemcard {

text-align: center;
  border-radius: 20px;
  width: 100%;
  background-color: rgb(189, 220, 252)
  
}

.itemcard>*{
  margin-top: 20px;
}

.itemcard-box {
width: 80%;
font-size: 1em;
text-align: left;
  
}

.itemcard-box h1{
  color: blue;
font-size: large;
}

.buttonstyle{
  background-color: blue;
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-left: 110px;

}


.itemcard-box > *{
  margin-top: 10px;
  
}

.itemcardimg{
width: 80%;
}



#icon{
  margin-top: 40px;
  color: blue;
  font-size: 50px;
}

@media screen and (min-width: 748px) {
  .itemcards {
    flex-direction: row;
    flex-wrap: wrap;
  }

   .itemcard:nth-child(1) { 
    width: calc( 100% / 2);

    
}
.itemcard{
  width: calc(100% / 4);
}
}
/* fine itemcard */
/* inizio download app */

.color {
  background-color: rgb(148, 146, 223);
}

.boximg {
  width: 80%;
  color: white;

}

.appdownload {
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .boximg {
    width: 30%;
  }

  .appdownload {
    width: 30%;
  }
}

/* fine downloadapp */
/* inizio  expertcommit */

.cardcommit {
  width: 80%;
  min-height: 200px;
  border: 1px black solid;
  background-color: blueviolet;
  border-radius: 10px;
  margin-bottom: 10px;
}

.circleimg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 10px;
  background-image: url(../img/testimonial1.jpg);
  background-size: cover;
  background-position: center;

}
@media screen and (min-width: 748px) {
  #cardcommitid {
    display: flex;
    flex-direction: row;
    
  }
}
@media screen and (min-width: 1024px) {
  #container-expertcommit{
    display: flex ;
    flex-direction: column;
  }
  
  
  .cardcommit {
    width: 80%;
  }
}
/* fine cardcommit */
/* inizio workingssection */
.workcard {
  height: 200px;
  width: 35%;
  background-color: antiquewhite;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
}

@media screen and (min-width: 748px) {
  #mediascreen {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .workcard {
    height: 200px;
    width: calc(75% / 2);
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .workcard {
    width: calc(60% / 2);
  }
}
/* fine workingssection */
/* inizio about section */
.abautus-paragraf{
    width:50% ;
    min-height: fit-content;
    text-align: center;
    
}
.card-paragraf{
    width: 50%;
    min-height: 300px;
    background-color: antiquewhite;
    border: 1px solid black;
}
@media  screen and (min-width: 748px) {
    #about-sectionid{
        display: flex;
        flex-direction: row;
    }
}

@media  screen and (min-width: 1024px) {
    #about-sectionid{
        display: flex;
        flex-direction: row;
    }
}

/* fine about section */
